* {
    box-sizing: border-box;
}

:root {
    --pink: rgb(199, 84, 104);
    --light: rgb(239, 239, 223);
    --body: rgb(209, 184, 184); 
}

header {
    background-color: var(--pink);
    color: var(--light);
    padding: 20px;
}

.Name {
    font-weight: bold;
    font-style: initial;
    display: inline-block;
    border: 3px solid var(--light);
    padding: 10px;
}
.name:hover {
    box-shadow: black;
}

#Profile-pic {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    padding: 20px;
    border: solid 5px var(--pink);
    margin: 20px;
}
#Profile-pic:hover {
    box-shadow: inset 0px 0px 8px black;
}


.About-me {
    width: 100%;
    display: inline-block;
    background-image: url("../image/istockphoto-1177607309-612x612.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
}
h2 {
    font-size: 300%;
    font-weight: bold;
}
.Subtitle {
    margin: 50px 30px;
    width: 70%;
    float: right; 
    text-align: center;
}


.Navigation-bar{
    float: right;
    padding-top: 15px;
}
.Navigation-bar ul{
list-style-type: none;
}
.Navigation-bar ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 10px;
}

.Navigation-bar ul li:hover {
    background-color: var(--body);
}

h3 {
    font-size: 25px;
    font-weight: bold;
    border-right: solid 2px;
    padding: 50px;
    width: 30%;
    height: 200px;
}

h3:hover {
    box-shadow: inset 0px 0px 8px var(--pink);
}
.more-info {
    width: 100%;
    display: block;
    background-color: var(--body);
    margin-bottom: 20px;
    padding: 30px;
    height: 800px;
}



.first-row .second-row .third-row{
   padding: 50px;
   margin: auto;
   width: 30%;
   display: block;
   height: 400px;
   margin-bottom: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#paragraph {
    text-align: center;
    margin-top: -200px;
    float: right;
    width: 70%;
    padding: 30px;
}
#paragraph:hover {
    box-shadow: inset 0px 0px 8px var(--pink);
}

#project1 {
    float: right;
    width: 300px;
    height: 200px;
    font-size: 20px;
    background-image: url(../image/digital-marketing-meeting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -210px;
}

#project2 {
    float: right;
    width: 300px;
    height: 200px;
    background-image: url(../image/Screen\ Shot\ 2022-08-24\ at\ 7.50.30\ PM.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -210px;
    
}
.work {
    padding: 20px;
   margin: 0 auto;
}
.work:hover {
    box-shadow: inset 0px 0px 8px var(--pink);
}

.contact-info {
    float: right;
    padding-top: 15px;
    margin-top: -100px;
}
.contact-info ul{
list-style-type: none;
}
.contact-info ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
    
}
.more-info::after {
    content: "";
    display: table;
    clear: both;
}
footer {
    background-color: var(--pink);
    color: var(--light);
    text-align: center;
    padding: 20px;
    margin-top: -30px;
}

@media screen and (max-width: 480px) {
    body {
        color: red;
        background-color: aqua;
    }
}