* {
    box-sizing: border-box;
}

:root {
    --pink: rgb(199, 84, 104);
    --light: rgb(239, 239, 223);
    --body: rgb(209, 184, 184); 
}

header {
    background-color: var(--pink);
    color: var(--light);
    padding: 20px;
}

.Name {
    font-weight: bold;
    font-style: initial;
    display: inline-block;
    border: 3px solid var(--light);
    padding: 10px;
}

#Profile-pic {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    padding: 20px;
    border: solid 5px var(--pink);
    margin: 20px;
}
#Profile-pic:hover {
    box-shadow: inset 0px 0px 8px black;
}


.About-me {
    width: 100%;
    display: inline-block;
    background-image: url("../image/istockphoto-1177607309-612x612.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
}
h2 {
    font-size: 300%;
    font-weight: bold;
}
.Subtitle {
    margin: 50px 30px;
    width: 70%;
    float: right; 
    text-align: center;
}


.Navigation-bar{
    float: right;
    padding-top: 15px;
}
.Navigation-bar ul{
list-style-type: none;
}
.Navigation-bar ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 10px;
}

.Navigation-bar ul li:hover {
    background-color: var(--body);
}

h3 {
    font-size: 25px;
    font-weight: bold;
    border-right: solid 2px;
    padding: 50px;
    width: 30%;
    height: 200px;
}

h3:hover {
    box-shadow: inset 0px 0px 8px var(--pink);
}
.more-info {
    width: 100%;
    display: block;
    background-color: var(--body);
    margin-bottom: 20px;
    padding: 30px;
    height: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.second-row {
    height: 600px;
}

.first-row .second-row .third-row{
   padding: 50px;
   margin: auto;
   width: 30%;
   display: block;
   margin-bottom: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#paragraph {
    text-align: center;
    margin-top: -200px;
    float: right;
    width: 70%;
    padding: 30px;
}
#paragraph:hover {
    box-shadow: inset 0px 0px 8px var(--pink);
}

.work {
    float: right;
    margin-left: 30px;
   width: 70%;
   display: flex;
   flex: wrap;
   flex-direction: row;
}

#project1 {
    margin-top: -250px;
    padding: 10px;
    border: solid var(--pink);
    background-color: var(--light);
    width: 300px; height: 250px;
    flex: wrap;
}
#project2 {
    margin-top: -250px;
    margin-left: 100px;
    padding: 10px;
    border: solid var(--pink);
    background-color: var(--light);  
    width: 300px; height: 250px;
    flex: wrap;
}

#project1 #project2 {
    position: relative
}
#project1:hover {
    border: solid var(--pink) 5px;
    width: 350px; height: 280px;
}
#project2:hover {
    border: solid var(--pink) 5px;
    width: 350px; height: 280px;
}
.contact-info {
    float: right;
    margin-top: -100px;
    margin-right: 20px;
}
.contact-info ul{
list-style-type: none;
}
.contact-info ul li {
    display: inline-block;
    font-size: 18px;
   padding: 10px;
}
.contact-info ul li:hover {
    background-color: var(--pink);
}

footer {
    background-color: var(--pink);
    color: var(--light);
    text-align: center;
    padding: 20px;
    margin-top: -30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 800px) {
    .work {
        flex-direction: column;
    }
}
